.left-pane {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-between;

  .left-pane-container {
    flex-basis: 35%;
    background: $web-background;
    padding: 20px;

    .logo {
      width: 120px;
      height: 80px;
      background-image: url("https://ik.imagekit.io/drs/heartcms/heartcms-static-logo-full_KOpBj8TKs.svg?updatedAt=1702222154346");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .left-pane-backdrop {
    flex-basis: 65%;
    background: rgba(0, 0, 0, 0.5);
  }
}
